@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
:active,
:hover,
:focus {
  outline: 0 !important  ;
  outline-offset: 0;
}
:root {
  --primary-color: #ffc222;
  --secondary-color: #00a149;
  --white-color: #fff;
  --text-color: #b0b0b0;
  --primary-font: "Roboto", "sans-serif";
  --secondary-font: "Quicksand", "sans-serif";
}
a,
a:hover {
  text-decoration: none;
}
a:hover {
  color: var(--primary-color) !important;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: var(--primary-font);
  font-size: 100%;
  font-weight: 400;
}
::-webkit-scrollbar {
  width: 0.625rem;
}
::-webkit-scrollbar-track {
  background: var(--white-color);
}
::-webkit-scrollbar-thumb {
  background: var(--secondary-color);
}
h1 {
  font-size: 50px;
  font-weight: 900;
  margin-bottom: 1rem;
  color: var(--white-color) !important;
  text-shadow: 1px 0px 6px #000;
}
h1 span {
  color: var(--primary-color);
}
h2 {
  line-height: 3rem;
  font-family: var(--secondary-font);
  text-transform: capitalize;
  font-size: 2rem;
  font-weight: 700;
  color: var(--secondary-color) !important;
}
h4 {
  font-family: var(--secondary-font);
  text-transform: capitalize;
  font-size: 1.123rem;
  font-weight: 800;
  color: var(--secondary-color);
  margin-bottom: 0.5rem;
}
h5 {
  font-family: var(--secondary-font);
  text-transform: capitalize;
  font-size: 1.123rem;
  font-weight: 800;
  color: black;
  margin-bottom: 0.5rem;
}
p {
  font-size: 1rem;
  color: var(--text-color) !important;
  font-weight: 400;
  line-height: 1.75rem;
  letter-spacing: 1px;
}
.main-btn {
  display: inline-block;
  padding: 0.65rem 1.65rem;
  line-height: 1.54rem;
  background-color: var(--primary-color);
  border-color: 0.1875rem solid var(--primary-color);
  font-weight: 900;
  text-transform: capitalize;
  border-radius: 0.6rem;
  box-shadow: 0px 2px 10px -1px rgb(0 0 0/19%);
  -webkit-transition: all 0.4s ease-out 0s;
  -o-transition: all 0.4s ease-out 0s;
  -moz-transition: all 0.4s ease-out 0s;
  transition: all 0.4s ease-out 0s;
}
.main-btn:hover {
  background-color: transparent;
  color: var(--primary-color);
  border-color: var(--primary-color);
  box-shadow: none;
}
.wrapper {
  padding-top: 4.5rem;
  padding-bottom: 4.5rem;
}
.text-content {
  width: 70%;
  margin: auto;
}
.navigation-wrap {
  position: fixed;
  width: 100%;
  left: 0px;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  z-index: 10000;
}
.navigation-wrap .nav-item {
  padding: 0.25rem;
  transition: all 0.3s linear;
}
.navbar-toggler:focus {
  outline: unset;
  border: unset;
  box-shadow: none;
}
.nav-link {
  font-size: 0.92rem;
  font-weight: 600;
  text-transform: capitalize;
  color: var(--white-color) !important;
  letter-spacing: 1px;
}
.navigation-wrap .main-btn {
  padding: 0.325rem 1.437rem;
  box-shadow: none;
  left: 0.622rem;
}
.navigation-wrap .scroll-on {
  position: fixed;
  background: var(--white-color);
  top: 0px;
  left: 0px;
  width: 100%;
  box-shadow: 0 0.125rem 1.75rem 0 rgb(0 0 0 0.09);
  transition: all 0.15s ease-in-out 0s;
}
.navigation-wrap .scroll-on .nav-link {
  color: black;
}
.navigation-wrap .scroll-on:hover,
.navigation-wrap .scroll-on:active {
  color: var(--primary-color);
}
.top-banner {
  width: 100%;
  background: url("../images/bg/bg-1.jpg") no-repeat;
  background-size: cover;
  padding: 16.87rem 0 9.765rem;
  position: relative;
  z-index: 1; /* Ensure the banner stays behind the header */
  margin-top: -100px; /* Adjust this value as necessary */
}
.our-menu .card {
  border: none;
}
.our-menu .link_category_product {
  position: relative;
  display: block;
  z-index: 1;
}
.our-menu .link_category_product::before {
  position: absolute;
  content: "";
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 2px dotted var(--secondary-color);
  z-index: -1;
  transform: translateX(-50%) translateY(-50%) scale(0);
  background: var(--primary-color);
  transform: all 0.4s ease;
  -webkit-transform: all 0.4s ease;
}
.card:hover .link_category_product::before {
  transform: translateX(-50%) translateY(-50%) scale(1);
}
.our-menu .cat-title a{
  text-align: center;
  font-size: 0.985rem;
  position: relative;
  display: inline-block;
  text-transform: uppercase;
  font-weight: 700;
  color: #000;

}
.card:hover .cat-title a{
  color: var(--primary-color);
}
@media (max-width: 991px) {
  .text-content {
    width: 100%;
  }
  .navigation-wrap .navbar-brand img {
    height: 3.164rem;
  }
  .navigation-wrap {
    text-align: center;
    background-color: var(--white-color);
  }
  .navigation-wrap .nav-link {
    line-height: 1.875rem;
    color: black !important;
  }
  .top-banner {
    background-position: auto;
    background: url("../images/bg/bg-1.jpg") no-repeat;
    background-size: cover;

    padding: 9.37rem 0; /* This sets padding-top and padding-bottom */
  }
}
@media (max-width:820px) {
  .top-banner {
    background-position: auto;
    background: url("../images/bg/bg-1.jpg") no-repeat;
    background-size: cover;
   

  }
}
@media (max-width:480px) {
  .top-banner {
    
    background: url("../images/bg/bg-1.jpg") no-repeat;
    background-size: cover;
    padding: 4rem 0;
   

  }
}
